<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>EmbedBox</title>
	</head>
	<body>
		<h1>EmbedBox</h1>
		
		<div id="controls" class="panel controls">
			<h2>Controls</h2>
			<input type="hidden" id="root-url" value="{{root_url}}" />
			<div class="item">
				<label for="input-url">URL:</label>
				<input type="url" id="input-url" />
			</div>
			<div class="item">
				<label for="input-language">Language:</label>
				<input type="text" id="input-language" placeholder="Leave blank for auto-detection from the URL" />
			</div>
			<div class="item">
				<label for="input-theme">Theme (default):</label>
				<select id="input-theme">
					<option value="__AUTO__">Default</option>
					{#each themes}<option value="{{.}}">{{.}}</option>{#endeach}
				</select>
			</div>
			<div class="item">
				<label for="input-theme-dark" title="The dark theme is activated automatically by the prefers-color-scheme CSS media query.">Theme (dark theme):</label>
				<select id="input-theme-dark">
					<option value="__AUTO__">Default</option>
					{#each themes}<option value="{{.}}">{{.}}</option>{#endeach}
				</select>
			</div>
		</div>
		
		<div id="output" class="panel">
			<h2>Embed Code</h2>
			<p><strong>URL:</strong></p>
			<output id="output-url">(the url will show here)</output>
			<p><strong>HTML:</strong></p>
			<output id="output-html">(the html embed code will show here)</output>
			<p><strong>Markdown:</strong></p>
			<output id="output-markdown">(the markdown embed code will show here)</output>
		</div>
		
		<div id="preview-container" class="panel">
			<h2>Preview</h2>
			<iframe id="preview"></iframe>
		</div>
		
		<footer class="panel">
			<p><a href="https://github.com/sbrl/EmbedBox">EmbedBox</a> built by <a href="https://starbeamrainbowlabs.com/"><img src="https://starbeamrainbowlabs.com/images/sbrl/SBRL-Small-200.png" class="icon" aria-hidden="hidden" alt="Starbeamrainbowlabs' logo" /> Starbeamrainbowlabs</a></p>
		</footer>
		
		<!---------------->
		<link rel="stylesheet" href="src/static/css/builder.css" />
		<script src="src/static/js/builder.js" charset="utf-8"></script>
	</body>
</html>
