<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>EmbedBox</title>
	</head>
	<body>
		<h1>EmbedBox</h1>
		
		<div id="controls" class="panel controls">
			<input type="hidden" id="root-url" value="{{root_url}}" />
			<div class="item">
				<label for="input-url">URL:</label>
				<input type="url" id="input-url" />
			</div>
			<div class="item">
				<label for="input-language">Language:</label>
				<input type="text" id="input-language" placeholder="Leave blank for auto-detection from the URL" />
			</div>
			<div class="item">
				<label for="input-theme">Theme (default):</label>
				<!-- TODO: option list here -->
			</div>
		</div>
		
		<div id="output" class="panel">
			<output id="output-html">(the html embed code will show here)</output>
			<output id="output-markdown">(the markdown embed code will show here)</output>
		</div>
		
		<div id="preview-container" class="panel">
			<iframe id="preview"></iframe>
		</div>
		
		<footer>
			<p>Built by <a href="https://starbeamrainbowlabs.com/">Starbeamrainbowlabs</a>.</p>
		</footer>
		
		<!---------------->
		<link rel="stylesheet" href="src/static/css/builder.css" />
		<script src="src/static/js/builder.js" charset="utf-8"></script>
	</body>
</html>
